 
body{
  text-align: center;
}
.home {
  
  background-repeat: no-repeat;
  background-size: cover;
  background-color: turquoise;
}
#p1{
  text-align: center;
  font-size: 20px;
  text-align: center;
  font-family: antic;
}
#p2{
  text-align: center;
  font-size: 15px;
}


#row{
  text-align: center;
}
#height{
  height: 400px;
}

.carousel-inner img {
  margin: auto;
}
.carousel{
  padding: 15px;
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

.contacts {
  background-color: black; 
}
#contacts img{
  width: 50px;
    height: 50px;
    display:inline-flex;
    text-align: center;
}
#contacts>ul>li{
  display:inline-block;
  padding:30px 30px 30px;
  margin-top:-65px;
  margin-left: 100px;
}
h2 span{
  color: white;
}

h3 span{
  color: white;
}


